/* Make date input inline */
#div_id_birth_date .form-control {
    display: inline-block;
    width: initial;
}

/* Make the file imputs not have the default bookstrap style for inputs, yuck */
input[type="file"] {
    border: 0px;
    background-color: transparent;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    height: 1.89em;
    padding: 0;
}

/* Displaying the customer details page */
.content-box {
  display: inline-block;
  width: 100%;
  padding: 5px 5px 10px;
  min-height: 2em;
  border-bottom: solid 1px lightgray;
}

.content-label {
  font-size: x-small;
  font-weight: bold;
  color: grey;
  padding-right: 0;
}

/* Backend, put some space between inputs */
.form-inline .form-group {
    padding: 0 20px 0 10px;
}
