input[type="file"] {
    border: 0px;
    background-color: transparent;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    height: 1.89em;
    padding: 0;
}

.content-box {
  display: inline-block;
  width: 100%;
  padding: 5px 5px 10px;
  min-height: 2em;
  border-bottom: solid 1px lightgray;
}
