{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <title>Steward Bank freelancer project</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Steward Bank Freelancer Project</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% url 'list_accounts' as list_path %}
              {% url 'new_account' as new_path %}

              {% if user.is_authenticated %}
              <li{% if list_path == request.path %} class="active"{% endif %}><a href="{% url 'list_accounts' %}">All Accounts{% if list_path == request.path %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
              <li{% if new_path == request.path %} class="active"{% endif %}><a href="{% url 'new_account' %}">New Account{% if new_path == request.path %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav nabar-right">
              {% if request.session.user_name %}
                <li>Welcome {{ request.session.user_name}}</li>
                <li><a href="{% url 'customer_logout' %}">Log Out</a></li>
              {% else %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'staff_logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'customer_login' %}">Customer Login</a></li>
                <li><a href="{% url 'staff_login' %}">Staff Log In</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
              {% block content %}
              {% endblock %}
          </div>
          <div class="col-lg-4">
            <h1>Steward Bank Freelancer Project</h1>
            <p></p>
            <p><b></b></br></p>
            <p><b></b></br></p>
            <p><b></b></br></p>
            <p><b>Skills utilized.</b></p>
            <p><b>Backend:</b>
              <ul>
                <li>Python 3.6</li>
                <li>Django 1.11.7</li>
                <li>django-forms-bootstrap</li>
                <li>djangorestframework</li>
              </ul>

              <b>Frontend:</b>
              <ul>
                <li>JQuery 3.1</li>
                <li>Bootstrap 3.3</li>
                <li>Bootstrap Validator</li>
              </ul></p>

          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
      <script src="https://use.fontawesome.com/14eeaa5338.js"></script>
    </body>
</html>
