{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <title>Steward Bank freelancer project</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Steward Bank Freelancer Project</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% url 'list_accounts' as list_path %}
              {% url 'new_account' as new_path %}
              {% url 'backend' as back_path %}
              {% url 'backend_logs' as log_path %}

              {% if user.is_authenticated %}
              <li{% if list_path == request.path %} class="active"{% endif %}><a href="{% url 'list_accounts' %}">All Accounts{% if list_path == request.path %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
              <li{% if new_path == request.path %} class="active"{% endif %}><a href="{% url 'new_account' %}">New Account{% if new_path == request.path %}<span class="sr-only"> (current)</span>{% endif %}</a></li>
              <li class="dropdown{% if back_path == request.path or log_path == request.path %} active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Backend<span class="caret"></span>{% if back_path == request.path or log_path == request.path %}<span class="sr-only"> (current)</span>{% endif %}</a>
                <ul class="dropdown-menu">
                  <li{% if back_path == request.path %} class="active"{% endif %}><a href="{% url 'backend' %}">Totals</a></li>
                  <li{% if log_path == request.path %} class="active"{% endif %}><a href="{% url 'backend_logs' %}">Logs</a></li>
                </ul>
              </li>
              <li><a href="/api/" target="BLANK">View REST API</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.session.user_name %}
                <li><a href="{% url 'customer_home' %}">{{ request.session.display_name}}</a></li>
                <li><a href="{% url 'customer_logout' %}">Log Out</a></li>
              {% else %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'staff_logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'customer_login' %}">Customer Login</a></li>
                <li><a href="{% url 'staff_login' %}">Staff Log In</a></li>
                {% endif %}
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
              {% include 'messages.html' %}
              {% block content %}
              {% endblock %}
          </div>
          <div class="col-lg-4">
            <h1>Steward Bank Freelancer Project</h1>
            <h4><b>The brief</b> with notes / explanitions.</h4>
            <ol>
              <li><b>Capture personal details (Name, surname, ID number, phone number, address and card number used).</b> This has been expanded to include a login name and password, email as well as birthdate. A combination of javascript form validation and Django form validation ensure all fields are entered correctly. Of special note is the ID format.</li>
              <li><b>Capture KYC images (customer’s headshot, ID, Proof of Residence).</b> As this is done on the web app, i have stuck to simply uploading images, limited to .jpg, .png and .pdf format.</li>
              <li><b>Capture the customer’s digital signature (customer should sign on the device screen).</b> Again for the web app, this is limited to uploading a .jpg, .png or .pdf.</li>
              <li><b>Lock user login credentials: the application should not allow multiple login: If user logs onto another device the previous one should be logged out.</b> Currently, if the user is logged in on one device and tries to log in on a second. The second device is blocked. The customer is automatically logged out after 5 minutes of inactivity.</li>
              <li><b>Create an audit report to show the time the account was opened, who opened it, total number of accounts opened by specific agent.</b> Basic information is found in the 'backend', available only to logged in staff.</li>
              <li><b>Send SMS notification to customer when account is successfully opened, showing their account number.</b> I have intrgrated with https://www.twilio.com. As there is no credit, the sms's are not sent, but the intregration is in place.</li>
              <li><b>Create a dummy backend to support this process.</b> This is availiable only to logged in staff, and displays a basic log and some totals.</li>
            </ol>
            <h4>Beyond the Brief.</h4>
            <ol>
              <li><b><a href="/api/">REST API.</a></b> As Django is a python web framework, I have not created a mobile interface. Instead I have implemented the Django REST framework, so that all of the feature available in the web interface are available through the API. A moble app can be rapidly developed to use the API.</li>
              <li><b>Bootstrap 3.</b> Rather than design an interface from scratch, I have used the popular Bootstrap 3 framework for a responsive design that was quick to implement.</li>
            </ol>
            <h4>Skills utilized.</h4>
            <p><b>Backend:</b>
              <ul>
                <li>Python 3.6</li>
                <li>Django 1.11.7</li>
                <li>django-forms-bootstrap</li>
                <li>djangorestframework</li>
                <li>twilio 6.10</li>
              </ul>

              <b>Frontend:</b>
              <ul>
                <li>JQuery 3.1</li>
                <li>Bootstrap 3.3</li>
                <li>Bootstrap Validator</li>
              </ul>

              <b>Workbench Tools:</b>
              <ul>
                <li>IDE: Atom</li>
                <li>Hardware: IMac and Macbook Pro</li>
                <li><a href="https://github.com/cjshaw1976/sb_challange" target="blank">Github</a></li>
              </ul></p>

          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
      <script src="https://use.fontawesome.com/14eeaa5338.js"></script>
    </body>
</html>
