{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}
<h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
Personal Details
<hr>
<div class="col-sm-6">
  <div class="content-box">
    <img src="{{ customer.headshot_image.url }}" class="img-responsive" alt="Customer Photo">
  </div>
  <div class="content-box">
    <img src="{{ customer.signature_image.url }}" class="img-responsive" alt="Signature Image">
  </div>
</div>

<div class="col-sm-6">
  <div class="content-box">
    <div class="row">
      <div class="col-xs-4 content-label">User Name</div><div class="col-xs-8">{{ customer.user_name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 content-label">First Name</div><div class="col-xs-8">{{ customer.first_name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 content-label">Last Name</div><div class="col-xs-8">{{ customer.last_name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 content-label">ID Number</div><div class="col-xs-8">{{ customer.id_number }}</div>
    </div>
  </div>

  <div class="content-box">
    <div class="row">
      <div class="col-xs-4 content-label">Phone Number</div><div class="col-xs-8">{{ customer.phone_number }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 content-label">Email Address</div><div class="col-xs-8">{{ customer.email_address }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 content-label">Physical Address</div><div class="col-xs-8">{{ customer.physical_address }}</div>
    </div>
  </div>

  <div class="content-box">
    <div class="row">
      <div class="col-xs-4 content-label">Entered By</div><div class="col-xs-8">{{ customer.created_by }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 content-label">Date</div><div class="col-xs-8">{{ customer.created_date }}</div>
    </div>
  </div>

  <div class="content-box">
    <div class="row">
      <div class="col-xs-12">
        <a href="{{ customer.residence_image.url }}" target="_blank" class="btn btn-default">Proof of residence</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
